.github
.readme/**
.vscode/**
build/**
dist/test/**
documentation/**
node_modules/**
scripts/**
src/**
webviews/**
.eslintcache*
.eslintignore
.eslintrc*
.gitattributes
.gitignore
.gitignore-revs
.prettierignore
.prettierrc
.yarnrc
azure-pipeline.*
**/tsconfig*.json
*.tsbuildinfo
tslint.json
**/webpack.config*.js
yarn.lock
**/*.map
**/*.svg
**/*.ts
*.vsix
