.github
.husky
.readme/**
.vscode/**
.vscode-test/**
.vscode-test-web/**
build/**
out/**
dist/browser/test/**
documentation/**
node_modules/**
scripts/**
src/**
!src/lm/skills/**
webviews/**
**/test/**
.eslintcache*
.eslintignore
.eslintrc*
.gitattributes
.gitignore
.gitignore-revs
.prettierignore
.prettierrc
.yarnrc
azure-pipeline.*
**/tsconfig*.json
*.tsbuildinfo
**/webpack.config*.js
yarn.lock
**/*.map
**/*.svg
!**/git-pull-request_webview.svg
**/*.ts
*.vsix
**/*.bak
package.insiders.json
README.insiders.md
tsfmt.json
